@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

@fontface {
  font-family: 'Lato';
  src: url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900')
}

body {
  margin: 0;
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
